*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root{
    --body:rgb(57, 105, 240);
    --text:white;
    --card:white;
    --btn:rgba(26, 56, 138, 0.719);
    --btnh:rgba(128, 128, 128, 0.418);
}
.dark{
    --body:rgb(17, 34, 36);
    --text:white;
    --card:rgb(80, 79, 79);
    --btn:rgba(187, 123, 3, 0.979);
    --btnh:black;


}

.body{
    background:var(--body);
}
.title{
    color: var(--text);
    font-size: 25px;
}
.card{
    height: 180px;
    text-align: center;
    padding: 8px 5px 0px 0px ;

    margin: 20px;
    position: relative;
    width: 100%;
    color: var(--text);
    border-radius: 6px !important;
}
button{
    outline: none;
    border:none;
    position: absolute;
    bottom: 0px;
    padding: 6px 0px;
    color: var(--text) ;
    background: var(--btn);
    width: 100%;
    border-radius: 5px !important;
    margin-bottom: 0 !important;

}
.change{
    border: solid 1px var(--btnh);
    background-color: var(--btnh);
}




.circle{
    background-color: gray;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    color: var(--text);
    box-shadow: 0px  0px  10px black;
}

.point{
    background-color: red;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 7px;
    font-weight: 700;
    color: var(--text);
    box-shadow: 0px  0px  10px black;


}
.num{
    font-size: 40px;
    color: var(--text);

}
.btn{
    column-gap: 30px;
}
.content p{
    color: var(--text);
}



@media screen and (max-width:1300px) {
    .card{
        height: 210px;
    }
  }  
@media screen and (max-width:1000px) {
    .card{
        height: 270px;
    }
   
   

  }
@media screen and (max-width:750px) {
  .card{
      width: 90%;
      height: 180px;
  }
  .hh{
      height: 240px;
  }
  .y{
    flex-direction: column-reverse ;
    }

    .cchange{
       margin-top: 5px;
        height: 35px !important;
        background-color: var(--btn);
        border-radius: 10px;
        color: var(--text);
    
    }
}

@media screen and (max-width:509px) {
    .card{
        width: 90%;
        height: 200px;
    }
    .hh{
        height: 260px;
    }
   
      
  }

@media screen and (max-width:435px) {
    .card{
        width: 90%;
        height: 225px;
    }
    .hh{
        height: 300px;
    }
  
      
  }
@media screen and (max-width:388px) {
    .card{
        width: 90%;
        height: 250px;
    }
    .hh{
        height: 320px;
    }
  
      
  }
@media screen and (max-width:350px) {
    .card{
        width: 90%;
        height: 270px;
    }
    .hh{
        height: 350px;
    }
    .mood{
        left: 40px !important;
    }
    .cchange{
        width:90px !important ;
    }
    .content p{
        font-size: 14px ;
    }
  
      
  }
@media screen and (max-width:320px) {
    .card{
        width: 90%;
        height: 300px;
    }
    .hh{
        height: 370px;
    }
  
    .mood{
        right: 20px !important;
        top: 25px !important;
        font-size: 20px !important;
    }
    .content p{
        font-size: 14px ;
    }
      
  }
@media screen and (max-width:300px) {
    .card{
        width: 90%;
        height: 300px;
    }
    .hh{
        height: 395px;
    }
    .mood{
        right: 20px !important;
        top: 25px !important;
        font-size: 20px !important;
    }
  
    .content p{
        font-size: 14px ;
    }
      
  }
  @media screen and (max-width:293px) {
    .card{
        width: 90%;
        height: 320px;
    }
    .hh{
        height: 420px;
    }
  
    .content p{
        font-size: 14px ;
    }
      
  }

  @media screen and (max-width:275px) {
    .card{
        width: 90%;
        height: 345px;
    }
    .hh{
        height: 440px;
    }
  
    .content p{
        font-size: 14px ;
    }
      
  }


  .mood{
      top: 30px;
      left: 75px;
      color: var(--text);
      cursor: pointer;
      font-size: 25px;
  }
  
  
  
  .show{
      display: none;
  }

  .jj{
      background-image: url(../imgs/8417623e-8dfe-4918-adbd-fc4afef3a165.jfif) !important;
      background-position: center center !important;
      background-size: cover !important;
      border: solid 2px black !important;

  }
  .tt{
    background-image: url(../imgs/01d37205-2449-40f1-aaa6-f688f7f231d0.jfif) !important;
    background-position: center center !important;
    background-size: cover !important;
    border: solid 2px  rgb(57, 105, 240) !important;


}

.cchange{
    display: flex;
    font-size: 12px !important;
    top: 70px;
      left: 10px !important;
    width: 110px;
    height: 45px;
    background-color: var(--btn);
    border-radius: 10px;
    color: var(--text);

}
.ahh{
    left: -33px !important;
}

.shoow{
    display: none;

}

